body {
  padding-bottom: 80px; 
  overflow-x: hidden; /* Empêche tout défilement horizontal */

}


.search-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.search-box {
    position: relative;
    background: white;
    border-radius: 30px;

}


.cta-btn {
background-color:white !important;
    color: #000 !important;               
    border: 1px solid black !important;   
    padding: 6px 15px;                    
    font-size: 3px;                     
    transition: all 0.3s ease;         
}

.cta-btn:hover {
    background-color: #000 !important;    
    color: #fff !important;               
    text-decoration: none;
}


.search-box:focus-within {
    outline: none !important;
    box-shadow: none !important;
}

.search-input:focus {
    border-color: #eee !important; 
    outline: none !important;
    box-shadow: none !important;
}


.search-box:focus-within .search-icon {
    outline: none !important;
    box-shadow: none !important;
}



.search-input {
    border: 2px solid #eee;
    border-radius: 30px;
    padding: 15px 25px;
    padding-right: 50px;
    width: 100%;
    transition: all 0.3s ease;
}



.container {
    background-color:white;

}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    transition: all 0.3s ease;
    
}



.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
}

.search-box:focus-within .suggestions {
    opacity: 1;
    transform: translateY(0);
}

.suggestion-item {
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.suggestion-item:hover {

}

.suggestion-item i {
    margin-right: 10px;

}

.recent-searches {
    color: #666;
    font-size: 0.8rem;
    padding: 10px 20px;
    background: #f8f9fa;
    border-radius: 15px 15px 0 0;
}
    
.tab-navigation {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
 
}


.search-compact input:focus,
.search-compact button:focus {
    outline: none;
    box-shadow: none; 
    
}


.search-compact input:focus {
    border-color: black;
}




.navbar-fixed-bottom {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0; 
    box-sizing: border-box;
}


.navbar .d-flex.flex-wrap.gap-3 {
    margin-bottom: 10px; 
    align-items: center; 
}



.navbar-nav {
    margin-bottom: 10px; 
}


h5 {
  font-family: 'Futura', 'Arial', sans-serif; 
  font-weight: 900; 
  font-stretch: condensed;
  font-size: 1.25rem; 
  text-transform: uppercase; 
  letter-spacing: 0.05em; 
  margin-bottom: 0.5rem; 
  
}


.pagination-minimal {
color:white;
}
.logo {
    font-size: 1rem;
    font-weight: bold;
}
.pagination-minimal .page-link {
    border: none;
    color: #6c757d;
    font-weight: 450;
    transition: all 0.2s ease;
    position: relative;
    margin:5px;
        font-size: 13px;
}



.pagination-minimal .page-item.active .page-link {
    background: none;
    color: black;
}


.pagination-minimal .page-item.active .page-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: Whitesmoke;
    padding:3px;
    transition: all 0.2s ease;

}

.pagination-minimal:hover .page-link:hover {
    background: none;
    color: grey;
    
}

.pagination-minimal .page-link:focus {
    box-shadow: none;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    
}

.grid-item {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: transform 0.3s ease;
    height:96%;
    width:92%;
}


button.btn {
  font-size: 3rem;      
  border: none;          
  background: none;      
  box-shadow: none;      
  outline: none;         
  cursor: pointer;      

}

.search-compact {
  overflow: hidden;
  border: 1px solid black;
  width: 200px; 
  margin-top:1px;
  margin:6px;
}


.cta-section {
    background-color: white;
    padding: 100px 0;
    text-align: center;
}

.cta-heading {
    font-size: 2.5rem;
}

.cta-btn {
    font-size: 1.25rem;
    padding: 2px 30px;
}


.search-compact i {
  font-size: 16px;
  color:black;
}

#three-canvas{

 background-color:white;
 
 }
.category {
  cursor: pointer;
  overflow: hidden;
}


#imageCarousel .carousel-item {
  height: 36vh; 
  min-height: 400px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#imageCarousel .carousel-caption {
}


#page2 img {
  height:400px;
  width:400px;
  object-fit: cover; 
}



.category img {
  width: 100px;
  height: 100px; 
  transition: transform 0.3s ease;
  
  
}

.category:hover img {
  transform: scale(0.80);
}


.img-thumbnai {
  margin-top:15px;
  transition: transform 0.2s ease;
    cursor:pointer;


}
.rose {
  transition: transform 0.2s ease;
    cursor:pointer;


}

.img-thumbnai:hover {
    transform: translateY(-1px);
}




.overlay-text {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  font-size: 2rem;
  padding: 4px 10px;
}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: white;
    padding: 1.5rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
        background-color:black;
}




.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    position: relative;
}

.parallax-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parallax-caption h3 {
    font-size: 2rem;
    font-weight: bold;
}

.parallax-caption p {
    font-size: 1.2rem;
    
}




.carousel-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 350px) {
  .carousel-item {
    height: 100vh;
    
  }
  
  .parallax-2 {
    background-image: url('ee.png');
    height: 7vh;
    background-position: center;
    background-repeat: no-repeat;
}
}



.parallax-2 {
    background-image: url('ee.png');
    height: 44vh;
    background-position: center;
    background-repeat: no-repeat;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}


#page1 {
  position: relative;
  z-index: 10;

}
#page2 {
  position: relative;
  z-index: 10;
  
}
#page4 {
  position: relative;
  z-index: 10;



      
}
#page5 {
  position: relative;
  z-index: 10;
   background-color:white;
}


#page6 {
  position: relative;
  z-index: 10;
  padding: 4rem 1rem;
  background-color: black;
}


#page7 {
  position: relative;
  z-index: 10;
  padding: 4rem 1rem;
  color: black;
}

#page9 {
  position: relative;
  z-index: 10;
  background-color: Whitesmoke;
}



.marquee-container {
   width: 100%;
   background-color: #f8f9fa;
   padding: 15px 0;
   
 }

 .marquee-content {
   display: flex;
   animation: marquee 20s linear infinite;
 }

 .marquee-item {
   flex: 0 0 auto;
   padding: 0 20px;
   font-size: 1.2rem;
   color: color;
 }

 @keyframes marquee {
   0% {
     transform: translateX(100%);
   }

   100% {
     transform: translateX(-100%);
   }
 }


.scrollLeft,
.scrollRight {
  z-index: 1000 !important; 
}


.imgg container{
  margin-left:33px;
  width:99%;
 transition: transform 9.7s ease;
  
  

}

.overlay-text {
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;            
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 8px;
}


.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    z-index: 2;
}







#page4 {
  position: relative;
  z-index: 10;
  padding: 4rem 1rem;
  color: #333;
}


.container h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}



.product-img {
  height: 250px;
  object-fit: cover;
  
}

.card {
  border: none;
  transition: transform 1.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.8rem;
  
}

.card-body {

   background-color:ghostwhite;
   
   }

/* cacher la barre de scroll sur mobile */
.d-flex::-webkit-scrollbar {
  display: none;
}



.no-border {
  border: none !important;
  box-shadow: none !important;
}


p{
color:mediumpurple;
}




.social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    color: #fff;
}

.footer-style {
  background: white;
  color: #111;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  padding: 40px 20px 20px;
}

.footer-style .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-style .footer-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #111;
  text-transform: uppercase;
}

.footer-style .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-style .footer-links li {
  margin-bottom: 8px;
}

.footer-style .footer-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-style .footer-links a:hover {
  color: #00aaff; 
}

.footer-off {
  color: #888;
  font-size: 0.8rem;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
}


@media (max-width: 768px) {
    .quick-links {
        grid-template-columns: 1fr;
    }
}





@media (max-width: 368px) {

.product-box h5  {
  margin:121px;
}

.card {
    border-radius: 12px;
  
    cursor: pointer;
    transition: transform 0.3s ease;
    height:44%;
    width:64%;
    margin-left:64px;
    
}


}




.card {
    border-radius: 12px;
  
    cursor: pointer;
    transition: transform 0.3s ease;
    height:94%;
    width:54%;
}


}


/*cookie*/

#cookie-alert button {
    margin: 10px 5px 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color:green
}

#accept-cookie {
    background-color: white;
    color: white;
}

#reject-cookie {
    background-color: ;
    color: white;
}
