.card, #registerForm {
    background: transparent !important; /*(!important) modifie avec force un fond transparent*/
    border: none !important;
    box-shadow: none !important;
}


.form-control {
    border: 1px solid #000 !important;  
    border-radius: 7px;                   
    background: transparent !important;   
    box-shadow: none !important;          
    outline: none !important;            
    padding: 6px 10px;                   
    height:43px;
    font-size: 0.9rem;                    
    transition: border-color 0.3s;
}


.form-control:focus {
    border-color: #000 !important;
}


.form-control:focus {
    border-color: #000 !important;       
}

  
